:root {
    --black-clr: #000;
    --white-clr: #fff;
    --clr-1: #888;
    --clr-2: #ED1C24;
    --clr-3: #007BFF;
}

.Section6 .category img {
    width: 50px;
}

.Section6 .categorys {

    padding: 0px 240px;
}

.Section6 .category {
    display: flex;
    width: 200px;
    height: 128px;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    border: none;
}

.Section6 .category p {
    color: #333;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 23px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}

.Section6 .category:hover {
    background-color: transparent;
}


@media (max-width: 966px) {
    .Section6 .category img {
        width: 60px;
    }

    .Section6 {
        height: auto;
        margin-bottom: 100px;
    }

    .Section6 .Section2-title {
        margin-top: 50px;
    }

    .Section6 .categorys {
        padding: 0px;
        display: grid;
        margin-left: 10%;
        grid-template-columns: repeat(3, 1fr);
    }

    .Section6 .category:nth-child(4) {
        grid-column: 1;
        grid-row: 2;
    }

    .Section6 .category:nth-child(5) {
        grid-column: 3/4;
        grid-row: 2;
    }

    .Section6 .category {
        margin-top: 50px;
        display: flex;
        width: 180px;
    }

}